@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-list::-webkit-scrollbar {
  width: 0;
}

.floating {
  animation-name: floating;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1023px) {
  .banner-dashboard-component {
    background-color: blue;
    justify-content: center;
  }

  .banner-dashboard-component .description .img-bottom {
    display: block;
  }
  .banner-dashboard-component .description {
    justify-content: center;
  }

  .banner-dashboard-component .description .group-btns {
    justify-content: center;
  }

  .components-window-editor .switch {
    top: auto !important;
    left: 0 !important;
    bottom: -70px !important;
  }
}

.date-picker > ul > button.bg-primary {
  background-color: #5c6ac4 !important;
}

.date-picker > ul > button.border-primary {
  border-color: #5c6ac4 !important;
}

/* 
.timeline-cmpnt.alternate li:not(:has(div[role='timeline-content']))::before {
    content: '';
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}
  
.timeline-cmpnt.alternate
    li:not(:has(div[role='timeline-opposite-content']))::before {
    content: '';
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
} */
